Sphinx-Substitution-Extensions==2019.12.28.0
VWS-Python-Mock==2019.12.27.0
VWS-Test-Fixtures==2019.12.13.1
check-manifest==0.40
codecov==2.0.15 # Upload coverage data
doc8==0.8.0
docker==4.1.0
flake8-commas==2.0.0
flake8-quotes==2.1.1
flake8==3.7.9
freezegun==0.3.12
homebrew-pypi-poet==0.10.0
isort==4.3.21
mypy==0.761
pip_check_reqs==2.0.3
pydocstyle==5.0.1
pygithub==1.45
pylint==2.4.4
pyroma==2.6
pytest-cov==2.8.1  # Measure code coverage
pytest==5.3.2
sphinx-click==2.3.1
sphinx==2.3.1
sphinxcontrib.spelling==4.3.0
twine==3.1.1
vulture==1.2
yapf==0.29.0
