Sphinx-Substitution-Extensions==2020.9.30.0
VWS-Python-Mock==2021.3.27.1
VWS-Test-Fixtures==2020.9.25.1
autoflake==1.4
black==20.8b1
check-manifest==0.46
doc8==0.8.1
docker==5.0.0
flake8-commas==2.0.0
flake8-quotes==3.2.0
flake8==3.9.1
freezegun==1.1.0
furo==2021.4.11b34
homebrew-pypi-poet==0.10.0
isort==5.8.0
mypy==0.812
pip_check_reqs==2.2.0
pydocstyle==6.0.0
pygithub==1.54.1
pylint==2.8.1
pyroma==3.1
pytest-cov==2.11.1  # Measure code coverage
pytest==6.2.3
sphinx-click==2.7.1
sphinx==3.5.4
sphinxcontrib.spelling==7.1.0
twine==3.4.1
vulture==2.3
