codecov==2.0.15 # Upload coverage data
flake8==3.7.9
pytest==5.2.2
pytest-cov==2.8.1  # Measure code coverage
VWS-Python-Mock==2019.9.28.0
yapf
isort
mypy
sphinx
sphinxcontrib.spelling==4.3.0
sphinx-click==2.3.0
