Sphinx-Substitution-Extensions==2020.9.30.0
VWS-Python-Mock==2021.3.27.1
VWS-Test-Fixtures==2020.9.25.1
autoflake==1.4
black==21.8b0
check-manifest==0.46
doc8==0.9.0
docker==5.0.2
flake8-commas==2.0.0
flake8-quotes==3.3.0
flake8==3.9.2
freezegun==1.1.0
furo==2021.9.8
homebrew-pypi-poet==0.10.0
isort==5.9.3
mypy==0.910
pip_check_reqs==2.3.0
pydocstyle==6.1.1
pygithub==1.55
pylint==2.10.2
pyroma==3.2
pytest-cov==2.12.1  # Measure code coverage
pytest==6.2.5
sphinx-click==3.0.1
sphinx==4.2.0
sphinx-inline-tabs==2021.8.17b10
sphinxcontrib.spelling==7.2.1
twine==3.4.2
types-freezegun==1.1.0
types-setuptools==57.0.2
types-PyYAML==5.4.10
vulture==2.3
