---

name: Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  schedule:
    # * is a special character in YAML so you have to quote this string
    # Run at 1:00 every day
    - cron: 0 1 * * *

jobs:
  build:

    strategy:
      matrix:
        python-version: ['3.12']
        platform: [ubuntu-latest, windows-latest]

    runs-on: ${{ matrix.platform }}

    steps:
      - uses: actions/checkout@v4
      - name: Install uv
        uses: astral-sh/setup-uv@v3

      # We require a lower coverage for Windows as we do not
      # create binaries on Windows.
      - id: set-min-coverage
        run: |
          if [ ${{ runner.os }} == 'Windows' ]; then
            echo "min_coverage=60" >> "$GITHUB_OUTPUT"
          else
            echo "min_coverage=100" >> "$GITHUB_OUTPUT"
          fi
        shell: bash

      - name: Run tests
        run: |
          # Using -s is useful but also it is required to avoid
          # https://github.com/pallets/click/issues/824.
          uv run --extra=dev pytest -s -vvv --cov-fail-under ${{ steps.set-min-coverage.outputs.min_coverage}} --cov=src/ --cov=tests . --cov-report=xml
        env:
          UV_PYTHON: ${{ matrix.python-version }}

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          fail_ci_if_error: true
          token: ${{ secrets.CODECOV_TOKEN }}
